<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="container">
        <form action="/predict" method="post">
          <textarea
            name="text"
            id="text_box"
            placeholder="문장을 입력하세요."
            cols="30"
            rows="10"
          >
{{inputText}}</textarea
          >
          <button class="predict_btn">예측하기</button>
        </form>
      </div>
      <div class="container">
        {% if prediction %}
        <span>일반글 : {{prediction.Default}}<br /></span>
        <span>공격발언 : {{prediction.Offensive}}<br /></span>
        <span>차별발언 : {{prediction.Hate}}<br /></span>
        {% endif %}
      </div>
    </main>
  </body>
</html>
